@use "@/global/scss/vars";


.eval {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	gap: 24px;

	ul {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	ul li {
		font-size: 18px;
		line-height: 120%;

		&::before {
			content: '•';
			margin-right: 10px;
		}
	}


	h3 {
		font-size: 32px;
		font-weight: 600;
		text-transform: uppercase;
		color: vars.$dark-blue;
	}

	p {
		font-size: 18px;
		line-height: 120%;
	}
}

.image.image {
	max-height: 100%;
	height: 480px;
	width: 100%;

	@media (max-width: 1920px) {
		height: 420px;
	}

	@media (max-width: 1440px) {
		height: 320px;
	}

	@media (max-width: vars.$tablet) {
		height: 240px;
	}
}