@use "@/global/scss/vars";
@use "@/global/scss/mixins";

.title.title {
	text-align: center;
	max-width: 720px;
	margin-inline: auto;
}

.block {
	display: flex;
	gap: 16px;
	width: 100%;

	@media (max-width: vars.$tablet) {
		gap: 16px;
	}

	@media (max-width: vars.$medium) {
		flex-direction: column;
	}

	&>* {
		flex-basis: 50%;
	}
}

.checkboxWrapper {
	width: 100%;
}

.textarea {
	flex-basis: 100%;
	height: 180px;

	@media (max-width: vars.$medium) {
		flex-basis: 120px;
	}
}

.button {
	margin-top: 20px;
}

.form {
	@include mixins.adaptive-value('margin-top', 40, 20);
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	max-width: 720px;
	margin-inline: auto;
}

.link {
	text-decoration: underline;
}