@use "@/global/scss/vars";
@use "@/global/scss/mixins";


.good {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;

	@include mixins.adaptive-value('padding', 16, 12);
}

.price {
	@include mixins.adaptive-value('font-size', 24, 16);
	font-weight: 600;
	color: vars.$dark-blue;
}

.button {
	width: 100%;
}

.title {
	@include mixins.adaptive-value('font-size', 18, 14);
	text-align: center;
	margin-top: 16px;
	height: 40px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.imageWrapper {
	@include mixins.adaptive-value('height', 240, 160);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	width: auto;
	height: 100%;
}