@use "@/global/scss/vars";
@use "@/global/scss/mixins";

@layer ui {
	.spoiler {
		width: 100%;
		transition: padding-bottom .5s;
		border-bottom: vars.$dark-blue 1px solid;

		@include mixins.adaptive-value('padding-inline', 30, 20);

		&[open] {
			padding-bottom: 30px;
		}
	}

	.spoilerBody {
		margin-top: 16px;
	}
}