@use "@/global/scss/mixins";
@use "@/global/scss/vars";
@use "@/global/scss/gridest";

.logos {
	display: flex;
	@include mixins.adaptive-value('gap', 40, 24);
	@include mixins.adaptive-value('margin-top', 28, 8);

	li {
		svg {
			@include mixins.adaptive-value('height', 32, 20);
			width: auto;
		}
	}
}

.logo {
	height: 90px;
	width: auto;
}

.content {
	@include mixins.adaptive-value('margin-block', 120, 36);
}

.description {
	margin-top: 24px;
}

.title {
	width: 100%;

	@media (max-width: vars.$tablet) {
		text-align: center;
	}
}

.subtitle {
	display: block;
	margin-top: 45px;
}

.variants {
	@include gridest.gridest(3);
	@include mixins.adaptive-value('gap', 24, 16);
	margin-top: 36px;
}

.body {
	// padding-inline: 8px;
	margin-top: 24px;
	flex-grow: 1;
}

.card {
	display: flex;
	width: 100%;

	flex-direction: column;
	align-items: center;
}

.button {
	width: 100%;
	text-transform: none;
	padding-block: 12px;
	max-width: 250px;
	margin-top: 28px;
}

.contact {
	margin: 100px 0;
}

.cardTitle {
	font-size: 20px;
	font-weight: 600;
	margin-top: 24px;
}

.image.image {
	height: 450px;
}