.contacts {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: center;
	flex-wrap: wrap;
}

.contact {
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 500;
	font-size: 18px;

	&.contact svg {
		width: 20px;
		height: 20px;
	}
}