@use "@/global/scss/mixins";
@use "@/global/scss/vars";


.input {
	@include mixins.adaptive-value('padding-block', 12, 12);
	@include mixins.adaptive-value('padding-inline', 16, 12);
	background-color: #fff;
	border-radius: 12px;
	@include mixins.adaptive-value('font-size', 16, 14);
	border: rgba(vars.$dark-blue, 20%) 1px solid;
}