@use "@/global/scss/gridest";
@use "@/global/scss/vars";
@use "@/global/scss/mixins";

.head {
	padding-block: 140px;

	@media (max-width: vars.$tablet) {
		padding-block: 32px;
	}
}

.container {
	@include gridest.gridest(2);
	align-items: center;
	gap: 0 50px;
}

.info {
	align-self: center;
	line-height: 140%;
	color: vars.$dark-blue;
	font-weight: 600;
	@include mixins.adaptive-value('font-size', 24, 16);
}

.map {
	filter: brightness(100%) grayscale(60%) hue-rotate(120deg);
	border: none;
	height: 600px;

	iframe {
		border: 0;
		outline: 0;
	}

	@media (max-width: vars.$tablet) {
		height: 200px;
	}
}

.card {
	background-color: #fff;
	padding: 64px;
	width: 120%;
	z-index: 999;

	@media (max-width: vars.$tablet) {
		width: 100%;
	}
}

.body {
	margin-top: 24px;
}

.image.image {
	height: 350px;

	@media (max-width: vars.$tablet) {
		height: 200px;
	}
}