@use "@/global/scss/vars";
@use "@/global/scss/mixins";

.header {
	position: relative;
	z-index: 10;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
	padding-block: 16px;
	position: relative;
	z-index: 20;
}

.mainPart {
	display: flex;
	align-items: center;
	@include mixins.adaptive-value('gap', 32, 16);

	flex-grow: 1;
	justify-content: flex-end;
}

.navigation {
	background-color: #335577;
	padding-block: 16px;
	color: #fff;

	@media (max-width: vars.$tablet) {
		padding: 0;
	}
}

.contacts {
	gap: 8px 16px;
	justify-content: flex-end;

	@media (max-width: vars.$tablet) {
		display: none;
	}
}


.button {
	@media (max-width: vars.$tablet) {
		display: none;
	}
}



.menuButton {
	flex-basis: 40px;
	flex-shrink: 0;
	height: 40px;
	background-color: vars.$dark-blue;

	display: none;
	align-items: center;
	justify-content: center;

	border-radius: 9999px;

	&:hover {
		@media (hover: hover) {
			opacity: .9;
		}
	}

	@media (max-width: vars.$tablet) {
		display: flex;
	}

	&:active {
		opacity: .8;
	}

	span {
		position: relative;

		&,
		&::before,
		&::after {
			display: inline-block;
			width: 18px;
			height: 2px;
			background-color: #fff;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			top: -5px;
		}

		&::after {
			top: 5px;
		}
	}
}

.selectItem {
	display: flex;
	gap: 8px;
	align-items: center;
	// font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;

	img {
		width: 24px;
		height: 24px;
	}
}

a.selectItem {
	margin: -6px -12px;
	padding: 6px 12px;
}

.cart {
	padding: 0;
	background-color: vars.$light-blue;
	display: flex;
	width: 48px;
	height: 48px;
	align-items: center;
	justify-content: center;
	border-radius: 999px;

	position: relative;

	&:hover {
		@media (hover: hover) {
			background-color: lighten(vars.$light-blue, 3%);
		}
	}

	&:active {
		background-color: lighten(vars.$light-blue, 6%);
	}

	&::after {
		transition: transform .3s;
		content: attr(data-count);
		border-radius: 999px;
		background-color: vars.$dark-blue;
		color: #fff;
		font-size: 14px;
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;

		transform: scale(0);

		position: absolute;
		top: -6px;
		right: -6px;
	}

	&.hasGoods::after {
		transform: scale(1);
	}
}

.cartIcon {
	width: 24px;
	height: 24px;
}