@use "@/global/scss/vars";
@use "@/global/scss/mixins";

.eval {
	display: flex;
	flex-direction: column;
	gap: 24px;
	@include mixins.adaptive-value('font-size', 18, 16);
	line-height: 150%;

	ul {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	ul li {
		@include mixins.adaptive-value('font-size', 18, 16);
		line-height: 150%;

		&::before {
			content: '•';
			margin-right: 10px;
		}
	}


	h3 {
		@include mixins.adaptive-value('font-size', 35, 24);
		font-weight: 600;
		text-transform: uppercase;
		color: vars.$dark-blue;
		line-height: 130%;
	}

	p {
		@include mixins.adaptive-value('font-size', 18, 16);
		line-height: 150%;
	}
}