@use "@/global/scss/vars";
@use "@/global/scss/mixins";

.card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	@include mixins.adaptive-value('padding', 16, 10);
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
}

.imageWrapper {
	aspect-ratio: 1/1;

	display: flex;
	align-items: center;
	max-width: 100%;
	@include mixins.adaptive-value('height', 240, 100);

	img {
		text-align: center;
		max-height: 100%;
		max-width: 100%;

	}
}

.title {
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	line-height: 115%;
	margin-top: 32px;
	font-weight: 500;
	max-width: 100%;
	width: 100%;
	flex-grow: 1;
	vertical-align: bottom;

	@media (max-width: vars.$medium) {
		font-size: 12px;
		margin-top: 16px;
	}
}

.button.button.button {
	margin-top: 20px;
	padding-inline: 40px;
	text-align: center;
}