@use "@/global/scss/mixins";

.list {
	display: none;
	border-radius: 0 0 15px 15px;
	padding-block: 6px;
	overflow: hidden;

	background-color: #fff;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	margin-top: 8px;

	li {
		cursor: pointer;
		padding: 6px 12px;

		&:hover {
			background-color: #eee;
		}
	}

	&.opened {
		display: inline-block;
	}
}

.preview {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	@include mixins.adaptive-value('font-size', 20, 16);
	@include mixins.adaptive-value('gap', 10, 5);


	&::after {
		content: '';
		display: inline-block;
		background-image: url('/img/dropdown.svg');
		background-size: 100% 100%;

		@include mixins.adaptive-value('width', 20, 10);
		@include mixins.adaptive-value('height', 10, 5);

		.select:has(.opened) & {
			rotate: 180deg 0;
		}
	}
}

.select {
	position: relative;
}