@use "@/global/scss/vars";

.arrowNext,
.arrowPrev {
	position: absolute;
	top: 50%;

	translate: 0 -50%;

	padding: 16px 24px;


	svg {
		@media (max-width: #{vars.$container}px) {
			width: 20px;
			height: auto;
		}

		@media(max-width: vars.$medium) {
			width: 10px;
		}
	}

}

.arrowPrev {
	cursor: pointer;
	left: -16px;
	transform: translateX(-100%);

	@media (max-width: 1400px) {
		transform: none;
		left: 0;
	}

	@media(max-width: vars.$medium) {
		left: -32px;
	}
}

.arrowNext {
	cursor: pointer;
	right: -16px;
	transform: translateX(100%);


	@media (max-width: 1400px) {
		transform: none;
		right: 0;
	}

	@media(max-width: vars.$medium) {
		right: -32px;
	}
}

.wrapper {
	position: relative;

	@media (max-width: 1400px) {
		padding-inline: 64px;
	}

	@media(max-width: vars.$medium) {
		padding-inline: 16px;
	}
}