* {
  padding: 0;
  margin: 0;
  line-height: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

ul,
ol,
menu,
ul li,
ol li,
menu li {
  list-style: none;
}

html {
  font-size: 16px;
  color: #262323;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #efefef;
  overflow-x: clip;
}

a {
  -webkit-text-fill-color: inherit;
  -webkit-text-fill: inherit;
  text-fill: inherit;
  text-fill-color: inherit;
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-family: inherit;
}

:root {
  --background: #efefef;
  --foreground: #262323;
  --accent: #fff;
}

.global-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.global-wrapper main {
  flex-grow: 1;
}
.meta {
  display: none;
  fontsize: 0;
  opacity: 0;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  min-width: 0;
}
