@use "@/global/scss/vars";

.discountInfo {
	font-size: 14px;
	font-weight: 400;
	margin-left: 4px;
}

.radios {
	display: flex;
	flex-direction: column;
	gap: 8px;
}


.select {
	max-width: 100%;

	padding: 12px 16px;
	border: rgba(51, 85, 119, 0.2) 1px solid;
	border-radius: 12px;
	margin-top: 8px;

	option:disabled:not(.whiteBg) {
		background-color: #eee;
		color: #000;
	}
}