@use "@/global/scss/vars";

.container {
	max-width: 900px;
	margin-top: 40px;
}

.goods {
	border: vars.$light-blue 1px solid;
	border-radius: 16px;
	overflow: hidden;
	margin-top: 40px;
}

.good {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding-block: 16px;
	padding-inline: 16px;
	align-items: center;
	gap: 16px;

	@media (max-width: vars.$tablet) {
		flex-direction: column;
		align-items: flex-start;
	}

	&:not(:last-child) {
		border-bottom: vars.$light-blue 1px solid;
	}
}

.link {
	display: contents;
}

.goodPreview {
	display: flex;
	align-items: center;
	gap: 24px;
}

.image {
	width: 100px;
	height: 100px;
	// margin-block: -40px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: vars.$tablet) {
		margin-block: 0;
	}
}

.title {
	width: 200px;
	font-size: 16px;
	line-height: 120%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@media (max-width: vars.$tablet) {
		width: auto;
	}
}

.price {
	width: 100px;
	font-size: 16px;

	@media (max-width: vars.$tablet) {
		width: auto;
	}
}

.count {
	width: 100px;
	font-size: 16px;

	@media (max-width: vars.$tablet) {
		width: auto;
	}
}

.preTotal {
	width: 100px;
	font-size: 16px;

	@media (max-width: vars.$tablet) {
		width: auto;
	}
}

.delete {
	width: 32px;

	svg {
		width: 32px;
		height: 32px;
	}
}

.head {
	@media (max-width: vars.$tablet) {
		display: none;
	}

	.good {
		padding-block: 16px;
		border: #262323 1px solid;
		border-radius: 15px;
	}

	.image {
		height: 0;
	}

	.count,
	.title,
	.preTotal,
	.price {
		font-size: 16px;
	}
}

.titleLink {
	@media (max-width: vars.$tablet) {
		width: 100%;
	}
}

.mobileLabel {
	display: none;
	font-weight: 600;

	@media (max-width: vars.$tablet) {
		display: block;
	}
}

.labeledField {
	@media (max-width: vars.$tablet) {
		display: flex;
		width: 100%;
	}

	&>* {
		@media (max-width: vars.$tablet) {
			flex-basis: 50%;
			flex-shrink: 0;
		}
	}
}