@use "@/global/scss/vars";
@use "@/global/scss/mixins";

.wrapper {
	background-color: #fff;
	min-height: 100vh;
}

.price {
	font-size: 24px;
	color: vars.$dark-blue;
	font-weight: 700;
	line-height: 115%;
	display: block;
	margin-top: 24px;
}

.card {
	display: flex;
	@include mixins.adaptive-value('gap', 80, 10);
	align-items: center;
	padding-block: 60px;
}

.title {
	text-transform: uppercase;
	color: vars.$dark-blue;
	line-height: 120%;
}

.image {
	flex-basis: 430px;
}

.addToCart {
	margin-top: 30px;
	display: flex;
	align-items: center;
	gap: 40px;
}

.delete {
	cursor: pointer;
}

.relatedGoods {
	margin-top: 80px;
	padding-bottom: 80px;
}

.breadcrumbs {
	padding-top: 32px;
}