@use "@/global/scss/mixins";
@use "@/global/scss/vars";

.welcome {
	background-color: #EFF4F7;
}

.content {
	@include mixins.adaptive-value('padding-block', 72, 36);

	@media (max-width: vars.$tablet) {
		text-align: center;
	}
}

.title {
	max-width: 600px;
	font-weight: 700;
	font-size: 40px;
}

.subtitle {
	@include mixins.adaptive-value('font-size', 28, 18);
	margin-top: 24px;
}

.button {
	@include mixins.adaptive-value('margin-top', 32, 12);
}