@use "@/global/scss/gridest";
@use "@/global/scss/mixins";
@use "@/global/scss/vars";

.grid {
	@include gridest.gridest(4, 2);

	@include mixins.adaptive-value('gap', 50, 12);
}

.goods {
	margin-top: 80px;
}

.content {
	margin-block: 28px;
}

.image.image {
	height: 350px;
	width: 100%;

	@media (max-width: vars.$tablet) {
		height: 240px;
	}
}

.title.title {
	margin-top: 12px;
	line-height: 110%;
}