@use "@/global/scss/vars";
@use "@/global/scss/mixins";

@layer styles {
	.wrapper {
		background-image: url('/img/contact-form-background.png');
		background-size: cover;
		color: #fff;

		@include mixins.adaptive-value('padding-block', 100, 50);
	}
}