@use "@/global/scss/vars";
@use "@/global/scss/mixins";

.wrapper {
	background-image: url('/img/contact-form-background.webp');
	background-size: cover;
	color: #fff;

	@include mixins.adaptive-value('padding-block', 64, 40);
}

.container {
	max-width: 992px;
}