@use "@/global/scss/vars";

.summary {
	max-width: 560px;
	background-color: #fff;
	border-radius: 16px;
	margin-top: 24px;
	padding-inline: 16px;
}

.row {
	display: grid;
	grid-template-columns: calc(40% - 8px) calc(60% - 8px);
	gap: 16px;

	&:not(:last-child, .noBorderBottom) {
		border-bottom: #aaa 1px solid;
	}

	padding-block: 16px;
}

.good {
	display: flex;
	gap: 8px;

	span {
		white-space: nowrap;
	}
}

.cell {}

.radios {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.goodName {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
}